.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-style {
  border: 7px solid darkgray;
  border-radius: 18px;
  padding: 36px 48px;
  width: 33%;
}
.form-field {
  border-radius: 8px;
  height: 49px;
  font-size: 17px;
  padding-left: 10px;
}
.save-button {
  border-radius: 5px;
  margin-top: 7%;
  font-size: 20px;
  padding: 4px 26px;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  color: black;
  padding: 20px;
  max-width: 500px;
}
.nav-bg-color {
  background: antiquewhite;
}
.password-prompt {
  position: fixed;
  top: 17%;
  left: 90%;
  transform: translate(-50%, -50%);
  background: antiquewhite;;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-prompt .error {
  color: red;
  font-size: 0.875rem;
  margin-top: 3px;
}


